# Terraform

#  Local .terraform directories
**/.terraform/*

# secrets directories
**/secrets/*

# secrets files
*.secrets.*
*.secrets

# backend files
*.backend.tf
*.backend.*
*.backend

# .tfstate files
*.tfstate
*.tfstate.*
*.lock.*

# .tfvars files
# *.tfvars

# local workfolder
/workfolder